@import "tailwindcss";

@theme inline {
  --color-primary: #4F46E5;
  --color-primary-dark: #4338CA;
  --color-primary-light: #6366F1;
  --color-secondary: #10B981;
  --color-secondary-dark: #059669;
  --color-accent: #F59E0B;
  --color-accent-dark: #D97706;
  --color-surface: #000000;
  --color-surface-muted: #09090B;
  --color-border: #27272A;
  --color-text: #FAFAFA;
  --color-text-muted: #A1A1AA;
  --font-sans: var(--font-inter);
}

body {
  background: var(--color-surface-muted);
  color: var(--color-text);
}
